body {
    background-color: rgb(217, 85, 80);
    overflow-x: hidden;
}

div #pomodoro-container {}

div #pomodoro-clock {
    display: block;
    max-width: 50%;
    height: 300px;
    border-radius: 10%;
    margin-left: 25%;
    background-color: rgb(241, 117, 113);
}

div #pomodoro-timer {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50vw;
    align-items: center;
    font-size: 100px;
    font-family: system-ui;
    color: white;
    font-weight: bold;
}

div #pomodoro-clock-actions {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10vh;
}
div #credits{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position:absolute;
    bottom: 0;
    width:100%;
}
div #photo{
    max-width:5%;
    max-height:5%;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}
div #profile{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    font-family: system-ui;
    font-size: 20px;
}
button {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #ffffff 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: rgb(241, 117, 113);
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

button:hover {
    background: linear-gradient(to bottom, #ffffff 5%, #ededed 100%);
    background-color: #ffffff;
}

button:active {
    position: relative;
    top: 1px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: system-ui;
    color: white;
    font-weight: bold;
}

div #about a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
}
div #about{
    display: flex;
    justify-content: center;
    align-items: center;
}


